{% extends 'base.html' %} {% block content %} {% if object %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<h1>Edit <span class="teal-text">{{object.name}}</span></h1>
{% else %}
<h1>Add Car</h1>
{% endif %}
<!-- Leaving the action empty makes the form post to the same url used to display it -->
<form action="" method="POST">
  <!-- Django requires the following for security purposes -->
  {% csrf_token %}
  <table>
    <!-- Render the inputs inside of <tr>s & <td>s -->
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn" />
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selectEl = document.getElementById("id_make");
    M.FormSelect.init(selectEl);
    const selectEl2 = document.getElementById("id_condition");
    M.FormSelect.init(selectEl2);
    const selectEl3 = document.getElementById("id_category");
    M.FormSelect.init(selectEl3);
    const selectEl4 = document.getElementById("id_sold");
    M.FormSelect.init(selectEl4);
  });
</script>

{% endblock %}
