{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <title>Car Listings</title>
  </head>
  <body>
    <h3>Car Listings</h3>
    {% for category, cars in car_by_category %}
      <h4>{{ category }}</h4>
      <ul>
        {% for car in cars %}
          <li>
            <a href="{% url 'detail' car.id %}">{{ car.year }} {{ car.make }} {{ car.model }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}


        <h4>Virtual Garages</h4>
        <ul>
          {% for profile in profiles %}
            <li> 
              <a href="{% url 'garage' .user.id %}">{{ profile.user.id }}</a> 
            </li>
          {% endfor %}
        </ul>

  </body>
</html>

{% endblock %}