{% extends 'base.html' %} 
{% block content %}
<h1>Car List</h1>

{% for car in cars %}
<div class="card">
  <a href="{% url 'detail' car.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
    </a>
  </div>
</div>
{% endfor %}


<h1>Garages</h1>

{% for profile in profiles %}
<div class="card">
  <a href="{% url 'my_garage' user.id %}">
    <div class="card-content">
      <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
    </a>
    </div>
</div>
{% endfor %}

{% endblock %}
