{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wheels and Deals</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Wheels and Deals</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'cars_create' %}">add listing</a></li>
          <li><a href="{% url 'index' %}">car market</a></li>
          <li><a href="/my_garage">my garage</a></li>
          <li><a href="{% url 'users-profile' %}">my profile</a></li>
          <li>
            <a href="#">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="submit-link">Log Out</button>
              </form>
            </a>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 Wheels and Deals &nbsp;</div>
  </footer>
</body>
</html>
