{% extends 'base.html' %} {% block content %}

<!-- profile avatar link -->
<div class="card">
  <div class="card-content">
  {% for avatar in user.avatar_set.all %}
  <img class="responsive-img card-panel" src="{{ avatar.url }}" />
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  <form
    action="{% url 'add_avatar' user.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <button type="submit" class="btn">Upload Photo</button>
  </form>


<h3>{{ profile.user }}</h3>
<p>Bio: {{ profile.bio }}</p>
<br/>
<br/>
<h5>{{ profile.user }}'s Active Listings</h5>

<div>
  <div>
    <div>
      <h4>Active Listings</h4>
    </div>
    <div>
      {% if active_listings %}
      <div>
        {% for car in active_listings %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
            <div class="card-content">
              <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>  
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Active Listings</p>
      {% endif %}
    </div>
  </div>
  <div>
    <div>
      <h4>Sold Vehicles</h4>
    </div>
    <div>
      {% if sold_history %}
      <div>
        {% for car in sold_history %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
            <div class="card-content">
              <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Vehicles Sold Yet</p>
      {% endif %}
    </div>
  </div>
  <div>
    <div>
      <h4>Favorite Cars</h4>
    </div>
    <div>
      {% if favorite_cars %}
      <div>
        {% for car in favorite_cars %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
                <div class="card-content">
                <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Favorites Added</p>
      {% endif %}
    </div>
    <div>
      <div>
        <h4>Reviews</h4>
      </div>
      <div>
        {% if reviews %}
        <div>
          {% for review in reviews %}
          <div>
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  Rating: {{ review.rating }} / 5
                  <br />Review: {{ review.content }} <br />By:
                  {{review.user_sender }}
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No Reviews Added</p>
        {% endif %}
      </div>
      <a href="{% url 'reviews_create' %}">Add Review</a>
    </div>
  </div>

  {% endblock %}
</div>