{% extends 'base.html' %} {% block content %}
</br>
</br>
<img src="{{ profile.avatar.url }}"> <h3>{{ profile.user }}</h3>
<p>Bio: {{ profile.bio }}</p>

</br>
</br>
<h5>{{ profile.user }}'s Active Listings</h5>
{% if active_listings %}
<div>
        {% for car in active_listings %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
            <div class="card-content">
              <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>  
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Active Listings</p>
      {% endif %}
    </div>
  </div>


    <h5>Sold Vehicles</h5>
    </div>
    <div>
      {% if sold_history %}
      <div>
        {% for car in sold_history %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
            <div class="card-content">
              <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Vehicles Sold Yet</p>
      {% endif %}
    </div>
  </div>
  <div>
    <div>
      <h5>Favorite Cars</h5>
    </div>
    <div>
      {% if favorite_cars %}
      <div>
        {% for car in favorite_cars %}
        <div>
          <div class="card">
            <a href="{% url 'detail' car.id %}">
                <div class="card-content">
                <span class="card-title">{{ car.year }} {{ car.make }} {{ car.model }}</span>
            </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No Favorites Added</p>
      {% endif %}
    </div>
    <div>
      <div>
        <h5>Reviews</h5>
      </div>
      <div>
        {% if reviews %}
        <div>
          {% for review in reviews %}
          <div>
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  Rating: {{ review.rating }} / 5
                  <br />Review: {{ review.content }} <br />By:
                  {{review.user_sender }}
                </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No Reviews Added</p>
        {% endif %}
      </div>
      <a href="{% url 'reviews_create' %}">Add Review</a>
    </div>
  </div>

  {% endblock %}
